@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  font-family: "SUIT-Regular";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
body #app {
  width: 100vw;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
body #app .header {
  width: 100vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
body #app .header .top-menu {
  width: 1300px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
}
body #app .header .top-menu ul {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #app .header .top-menu ul li {
  display: flex;
  font-size: 10pt;
  color: rgb(170, 170, 170);
}
body #app .header .top-menu ul li .logo {
  font-family: "yg-jalnan";
  font-size: 16pt;
  color: red;
}
body #app .header .top-menu ul li div {
  margin-left: 20px;
}
body #app .header .navbar {
  width: 100vw;
  height: 100px;
  border-top: 1px solid rgb(170, 170, 170);
  background-color: white;
}
body #app .header .navbar ul {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #app .header .navbar ul li.menu-bar {
  display: flex;
  justify-content: start;
  align-items: center;
}
body #app .header .navbar ul li.menu-bar div {
  margin-right: 100px;
  text-align: center;
  font-size: 13pt;
}
body #app .header .navbar ul .search-bar {
  position: relative;
  width: 320px;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
}
body #app .header .navbar ul .search-bar input {
  width: 100%;
  height: 100%;
  line-height: 40px;
  overflow: hidden;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 34px;
  border: 2px solid black;
  outline: 0;
}
body #app .header .navbar ul .search-bar input:focus {
  outline: 0;
}
body #app .header .navbar ul .search-bar button.search-btn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 12pt;
}
body #app .header .line-banner {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  background-color: rgb(226, 7, 7);
  text-align: center;
}
body #app .wrap {
  text-align: center;
  margin-bottom: 60px;
}
body #app .wrap .category-name {
  font-size: 25pt;
  margin-top: 100px;
}
body #app .wrap .main-banner {
  height: 420px;
}
body #app .wrap .main-banner img {
  background-color: rgb(214, 214, 214);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body #app .wrap .list-btn {
  padding: 40px 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
body #app .wrap .list-btn .menu-btn {
  margin-left: 20px;
  width: 180px;
  height: 60px;
  border: 2px solid red;
  border-radius: 50px;
  font-size: 13pt;
  transition: 0.3s;
}
body #app .wrap .list-btn .menu-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #app .wrap .list-btn .menu-btn:nth-child(1) {
  margin-left: 0;
}
body #app .wrap .list-btn .menu-btn:hover {
  background-color: red;
  color: white;
}
body #app .wrap .menu-wrap {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body #app .wrap .menu-wrap .menu-box {
  width: 25%;
  background-color: #ffffff;
  height: 500px;
  box-sizing: border-box;
  margin-right: 60px;
  box-sizing: border-box;
  margin-bottom: 40px;
  overflow: hidden;
}
body #app .wrap .menu-wrap .menu-box .box {
  width: 100%;
  height: 100%;
}
body #app .wrap .menu-wrap .menu-box .box .img-box {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
}
body #app .wrap .menu-wrap .menu-box .box .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-title {
  font-weight: 700;
  font-size: 15pt;
  display: flex;
  align-items: center;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-title .HOT, body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-title .NEW, body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-title .BEST {
  font-size: 8pt;
  background-color: red;
  padding: 2px 8px;
  color: white;
  margin-left: 4px;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price {
  display: flex;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price p {
  margin-right: 20px;
  font-size: 12pt;
  font-weight: 600;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price p span {
  margin-right: 8px;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price p span:empty {
  margin-right: unset;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price .menu-size1, body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price .menu-size2 {
  font-weight: normal;
  display: inline-block;
  border-radius: 50%;
  font-size: 11pt;
  color: black;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price .menu-size1 > input, body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-price .menu-size2 > input {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-content {
  text-align: left;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid darkgray;
  margin-top: 12px;
  font-size: 10pt;
  color: gray;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .menu-content .content-bottom {
  height: 20px;
  margin-bottom: 30px;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: end;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box p {
  margin-left: 8px;
  font-size: 9pt;
  width: 110px;
  height: 46px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box p i {
  margin-right: 6px;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box p:nth-child(1) {
  margin-left: 0;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box .icon-now {
  color: black;
  border: 2px solid red;
  transition: 0.3s;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box .icon-cart {
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box .icon-search {
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box .icon-now:hover {
  background-color: red;
  color: white;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box .icon-cart:hover {
  background-color: black;
  color: white;
}
body #app .wrap .menu-wrap .menu-box .box .menu-about .icon-box .icon-search:hover {
  background-color: black;
  color: white;
}
body #app .wrap .section-box {
  margin-top: 30px;
}
body #app .wrap .section-box h3 {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 10px;
}
body #app .wrap .section-box .gallery-swiper {
  width: 1300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(234, 234, 234);
}
body #app .wrap .login-wrap {
  width: 1300px;
  margin: 0 auto;
  height: calc(100vh - 466px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #app .wrap .login-wrap h3 {
  font-size: 28pt;
  margin-bottom: 12px;
}
body #app .wrap .login-wrap p a {
  margin-left: 4px;
  font-weight: bold;
  font-size: 14pt;
}
body #app .wrap .login-wrap p a i {
  font-size: 12pt;
  margin-left: 4px;
}
body #app .wrap .login-wrap form {
  margin: 0 auto;
  margin-top: 40px;
  width: 1000px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #app .wrap .login-wrap form .id-box, body #app .wrap .login-wrap form .pw-box {
  margin-bottom: 12px;
}
body #app .wrap .login-wrap form .id-box input, body #app .wrap .login-wrap form .pw-box input {
  font-size: 12pt;
  padding: 0 15px;
  width: 450px;
  height: 60px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 8px;
  outline: none;
}
body #app .wrap .login-wrap form .id-box input:focus, body #app .wrap .login-wrap form .pw-box input:focus {
  outline: none;
}
body #app .wrap .login-wrap form .id-box input::-moz-placeholder, body #app .wrap .login-wrap form .pw-box input::-moz-placeholder {
  font-size: 14pt;
}
body #app .wrap .login-wrap form .id-box input::placeholder, body #app .wrap .login-wrap form .pw-box input::placeholder {
  font-size: 14pt;
}
body #app .wrap .login-wrap form .login-btn {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 60px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 14pt;
}
body #app .wrap .login-wrap form .login-btn:hover {
  background-color: black;
  color: white;
}
body #app .wrap .login-wrap .login-option {
  width: 450px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;
  font-size: 11pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
body #app .wrap .login-wrap .login-option .find-box {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 10px 16px;
  transition: 0.3s;
}
body #app .wrap .login-wrap .login-option .find-box i {
  margin-left: 5px;
}
body #app .wrap .login-wrap .login-option .find-box:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}
body #app .wrap .login-wrap .login-option .login-check {
  display: flex;
}
body #app .wrap .login-wrap .login-option .login-check div:first-child {
  margin-right: 10px;
}
body #app .wrap .login-wrap .login-option .login-check input {
  margin-left: 4px;
}
body #app .wrap .cart-box {
  width: 1300px;
  margin: 0 auto;
}
body #app .wrap .cart-box .cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}
body #app footer {
  background-color: rgb(68, 68, 68);
  color: rgb(170, 170, 170);
}
body #app footer .footer-wrap {
  height: 200px;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
body #app footer .footer-wrap p {
  padding: 20px;
}
body #app footer .footer-wrap ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #app footer .footer-wrap ul li.footer-menu ul li {
  font-size: 12pt;
  margin-right: 60px;
}
body #app footer .footer-wrap ul .sns-box {
  display: flex;
}
body #app footer .footer-wrap ul .sns-box li {
  margin-right: 30px;
}
body #app footer .footer-wrap ul .sns-box li i {
  font-size: 15pt;
}/*# sourceMappingURL=my.css.map */